@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

body {
  font-family: "Roboto Mono", monospace;
}

::-webkit-scrollbar {
  display: none;
}

.CodeMirror {
  font-size: 12px;
}

.CodeMirror-hints.material {
  font-size: 12px;
  background: #222;
  border: none;
}

.CodeMirror-hints .CodeMirror-hint {
  color: #eee;
}
