@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700&display=swap");

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
}

::-webkit-scrollbar {
  display: none;
}

.CodeMirror {
  font-size: 12px;
}

.CodeMirror-hints.material {
  font-size: 12px;
  background: #222;
  border: none;
}

.CodeMirror-hints .CodeMirror-hint {
  color: #eee;
}
