@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700&display=swap");

html {
  font-size: 100%;
}

body {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: 400;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
}

code,
pre {
  font-family: "Roboto Mono", monospace;
}

button {
  border: 0;
  padding: 0;
  background: none;
  border-radius: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}
